/*Nav styles*/

.nav-style a{
  color: #ffffff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #000000;
}

.nav>li>a:focus, .nav>li>a:hover{
  background-color: #ffffff;
  color: #000000;
}

/*Fun Styles*/

/*Footer styles*/

.footer-style{
  background-color: #ff353f;
  height: 180px;
  overflow: auto;
  margin-top: 75px;
}

.foot-logo{
  height: 120px;
  margin: 20px;
}

.my-address{
  border-left: 1px solid #000000;
  padding: 15px;
  margin: 20px;
  margin-left: 0px;
}

.social-media{
  font-size: 32px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}

.social-media a {
  color: #ffffff;
}
