/*Front Page Styles*/

.logo{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}

.logo-size{
  height: 300px;
}

.button-nav{
  font-size: 24px;
  margin: 40px;
  border: 3px solid #000000;
  padding: 15px;
  border-radius: 8px;
  height: 300px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.button-nav a {
  color: #000000;
}

.nav>li>a:focus, .nav>li>a:hover{
  background-color: #000000;
  color: #ffffff;
  margin: 10px;
}

.middle-pic{
  height: 300px;
  border-radius: 8px;
  margin: 40px;
}

.quote{
  font-size: 24px;
  margin-top: 120px;
}

/*Start footer*/

.footer-style{
  background-color: #ff353f;
  height: 180px;
}

.foot-logo{
  height: 120px;
  margin: 20px;
}

.my-address{
  border-left: 1px solid #000000;
  padding: 15px;
  margin: 20px;
  margin-left: 0px;
}

.social-media{
  font-size: 32px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}

.social-media a {
  color: #ffffff;
}

@media screen and (max-width: 700px) and (min-width: 520px) {
    .logo{
      background-color: #ff353f;
    }
    .footer-style{
      background-color: #000000;
      color: #f49842;
    }
}

.fade-in{
  animation-name: fade-in;
  animation-duration: 5s;
  opacity: 1;
}

@keyframes fade-in {
  from{
    opacity: 0
  }
  to{
    opacity: 1;
  }
}
