/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Dosis');

/*Front Page Styles*/

.logo{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}

.logo-size{
  height: 300px;
}
